<div id="masthead">
  <header><a href="/">rails admin test</a></header>

  <ul id="primary-nav">
    <li>
      <a href="#">Issues</a>
      <ul>
        <li><a href="/issues/free-speech">Free Speech</a></li>
        <li><a href="/issues/privacy">Privacy</a></li>
        <li><a href="/issues/creativity-and-innovation">Creativity and Innovation</a></li>
        <li><a href="/issues/transparency">Transparency</a></li>
        <li><a href="/issues/international">International</a></li>
        <li><a href="/issues/security">Security</a></li>
      </ul>
    </li>

    <li>
      <a href="/updates">Updates</a>
      <ul>
        <li><a href="/updates/blog">Deeplinks Blog</a></li>
        <li><a href="/updates/press">Press Releases</a></li>
        <li><a href="/updates/events">Events</a></li>
        <li><a href="/updates/cases">Legal Cases</a></li>
        <li><a href="/updates/whitepapers">Whitepapers</a></li>
      </ul>
    </li>
  </ul>
</div>
